/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,h2,h3{
  font-family: "Playfair Display",serif;
}
body {
  line-height: 1.6;
  background-color: #f9f9f9;
  color: #333;
}

/* Header */
.header {
  background-color: black;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
}


.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  transition: color 0.3s;
}

.navbar a:hover {
  color: #90e0ef;
}

/* Hero Section */
.hero {
  background: url('/about.png') center/cover no-repeat;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.btn {
  padding: 0.8rem 1.5rem;
  background-color: #00b4d8;
  color: white;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1rem;
  transition: background 0.3s;
}

.btn:hover {
  background-color: #0077b6;
}

/* Destinations */
.destinations {
  padding: 4rem 2rem;
  background-color: white;
  text-align: center;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
  flex-wrap: wrap;
}

.card {
  background: #f1f1f1;
  padding: 1rem;
  border-radius: 10px;
  width: 250px;
  height: 300px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.card img {
  width: 100%;
  border-radius: 8px;
  height: 200px;
  object-fit: cover;
  border: 2.5px solid black;
}

.card h3 {
  margin-top: 1rem;
}

.place-name {
  background-color: black;
  color: white;
  display: inline-block;
  padding: 6px 14px;
  margin: 12px auto 0;
  font-weight: 600;
  font-size: 1rem;
  text-align: center;
}

/* About */
.about, .contact {
  padding: 3rem 2rem;
  text-align: center;
}

/* Footer */
.footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 1rem 0;
}
